body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  form {
    border: 3px solid #f1f1f1;
    border-width: 0px

  }
  
  legend{ 
    font-size: 125%;
    font-style:italic;
    text-transform: uppercase;
    text-align: center;
  }
  
  label{
    display: inline-block;
    margin-right:10px;
    width:15%;
    color: white;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  span{
    margin-left:20%;
    font-family: italic;
    font-weight: bold;
  }
  
  textarea{
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: aquamarine;
  }
  
  
  input[type=checkbox]{
      display:inline;
      width:inherit;
  }
  
  input[type=submit] {
    background-color: rgba(10, 255, 210, 0.491);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  /* input[type=date]:hover{
    color: #f1f1f1;
  } */

  input[type="date" i] {
    color: #787878;
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;

  }
  
  input[name=text]:hover {
    align-items: center;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (min-width: 770px) {
    form{
      width: 80%;
      margin: 0 auto;
    }
  
    input{
      width:80%;
    }
  
    textarea{
      width:80%;
      height: 25vh;
      color: rgba(30, 96, 84, 0.7);
   }
   
   div + label{
      line-height: 25vh;
      vertical-align:top;
   }
  }


  fieldset, legend, input{
    border-radius: 2rem;
  }

  